*{
				padding : 0; 
				margin : 0;
				list-style-type: none;
				list-style: none;
				font-family: Georgia; 
				outline : 0; 
			}
			#headerWrapper{
				position: fixed;
				z-index: 999;
				width: 100%;
			}

			#header{
				width: : 100%;
				padding : 1rem;
				background: rgba(256, 256, 256, .8); 
			}

			span a, span{
				text-decoration: none; 
				color : #333;
				font-size: 1.3rem;
				letter-spacing: -1px;
			}

			#socialContainer, #socialContainer a img{
				float : right;
				height : 1.5rem;
			}

			#socialContainer a img{
				margin-right : 1rem;
				opacity: .8; 
			}

			.intro{
				padding: 4rem 20%;
				line-height: 1.7rem; 
				font-size: .9rem; 
				color: #333; 
			}

			#container{
				height : 100%; 
				width: 100%; 
				position: relative;
			}
			.folderContainer{
				width: 100vw; 
				background: #eee;
			}

			.folderContainer:after { 
			   content: " ";
			   display: block; 
			   height: 0; 
			   clear: both;
			}

			.photoContainer{
				float: left; 
				width: 25vw;
    			height: 25vw;
				overflow: hidden;
				opacity: 1; 
			}

			.photoContainer:hover{
				opacity: 1;
			}

			.photoContainer img{
				height: 100%;
				margin-left: -80px;
			}

			.photoWhite{
				position: absolute;
				width: 25vw; 
				height: 25vw;
				opacity: 0; 
				background: rgba(255,255,255,.8);
				color : #333;
				
			}

			.photoText, .photoText a{
				margin : 1.2rem 0 0 1.2rem;
				color : #111;
				text-decoration: none; 
				font-size: 1.1em;
			}

			.photoText a{
				margin : 0; 
			}

			.photoWhite:hover{
				opacity: 1;
			}


			#videoContainer{
				position: fixed;
				width: 100%;
				z-index: -1;
				background: url(body.png);
				margin-top: -100px;
			}

			#backVideo{
				width: 100%;
				height : 100%;
				background: url(body.png);
			}

			#canvas{
				width : 100%;
				height: 100%;
				z-index: 99;
				position: absolute;
			}

			#gifEffect{
				width: 100%; 
				opacity: .2;
				position: absolute;
				z-index: 100;
				height: 100%;
			}

			.morePadding ul li{
				padding : .8rem 0;
			}

			.morePadding p{
				padding : .8rem 0;
				line-height: 2.4rem;
			}

			.footer{
				position: relative;
				width: 100vw; 
				padding : 2rem 0;
				background: #eee; 
			}

			#bottomImage{
				width: 100vw; 
				z-index: 0; 
			}

			.another{
				min-height: inherit;
			}

			@media only screen and (max-width : 1000px) {
				#headerWrapper{
					position: relative;
				}
				#header{
					padding : 2rem;
				}

				span a, span{
					text-decoration: none; 
					color : #333;
					font-size: 2.8rem;
					letter-spacing: -1px;
				}
				#container{
					padding-top: 0; 
				}

				.intro{
					font-size: 2rem;
					line-height: 3.4rem;
					padding: 4rem 10%;
					background: white; 
				}

				.morePadding p{
					line-height: 3.4rem;
				}

				#videoContainer{
					position: relative;
					margin-top: 0;
				}

				.folderContainer{
					min-height: 0vw; 
				}

				.photoContainer{
					float: none; 
					width: 100vw;
					opacity: .7;
					height: 60vw;
				}

				.photoContainer img{
					margin: -3rem 0 0 0;
					width : 100vw;
					height: 100vw;
				}

				.photoWhite{
					opacity: 1;
					position: absolute;
					width: 100vw; 
					height: 60vw;
					background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(203,227,246,0) 40%, rgba(125,185,232,0) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(40%,rgba(203,227,246,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(203,227,246,0) 40%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(203,227,246,0) 40%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(203,227,246,0) 40%,rgba(125,185,232,0) 100%); /* IE10+ */
					background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(203,227,246,0) 40%,rgba(125,185,232,0) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
				}

				.photoWhite:hover{
					opacity: 1;
					width: 100vw; 
					height: 60vw;
				}

				.photoText{
					margin : 2rem 0 0 2rem;
				}

				.photoText a{
					color : #111;
					text-decoration: none; 
					font-size: 2.1rem;
				}


			}